@import "tailwindcss";

:root {
  --bg: #09090b;
  --card-bg: #18181b;
  --text-primary: #fafafa;
  --text-secondary: #a1a1aa;
  --border: #27272a;
  --accent: #ff8c00;
}

html,
body {
  background-color: var(--bg);
  color: var(--text-primary);
}
